.menu-wrapper {
    position: fixed;
    width: 20%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
    z-index: 10;
    bottom: 0;
    left: 92%;
    padding-bottom: 5%;
}

.menu {
    width: 5%;
    cursor: pointer;
    background: transparent;
}

;
.icon-div {
    border: 0;
    cursor: pointer;
    display: inline-block;
    transition: transform .2s;
}

.icon-div:hover {
    transform: scale(1.2);
}

;