.profile-image {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

.profile-image--small {
  width: 10%;
  padding: 10px 16px;
}

.profile-image--medium {
  width: 15%;
  padding: 11px 20px;
}

.profile-image--large {
  width: 30%;
  padding: 12px 24px;
}