body {
  background-color: black;
  font-family: 'Roboto';
}

/* link styling */

a {
  font-size: 22px;
}

a:link {
  color: #655D90;
}

a:visited {
  color: #655D90;
}

a:hover {
  color: #B3B2BB;
}

a:active {
  color: #655D90;
}

/* end link styling */

code {
  font-family: 'Roboto';
}